$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
@import "compass/css3/deprecated-support";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "./fontello.css";
@import "./core/base.scss";
@import "./partials/all.scss";

.fixedsticky{
  z-index: 1000;
  width: 100%;
  top: 0px;
  left: 0px;
}


#gallery-features .rn-carousel-container{
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: visible;
}

.img-responsive.centered{
	margin: 0px auto;
}

canvas{
	background-color: #000;
}

.team-member{
	display: inline-block;
	padding: 20px 0 10px;

	@media(min-width: $screen-sm){
		width: 192px;
	}
	
	@media(min-width: $screen-md){
		width: 240px;
	}

	@media(min-width: $screen-lg){
		width: 240px;
	}
	
	> .img-responsive{
		width: 75%;
		margin: 0px auto;
		border-radius: 50%;
	}
	
	> .info{
		text-align: center;
		
	}
	
	.name{
		font-weight: 400;
	}
	
	.title{
		font-weight: bold;
		font-size: 80%;
		color: lighten($fontColor, 25%);
	}
}

#team{
	a{
		text-decoration: none;
		color: inherit;
	}
}

#header{
	bottom: -17px;
	height: auto;
}
#pusher{
	visibility: hidden;
}
.demo-feed{
	position: relative;
	height: 100%;
	width: 100%;
	overflow:hidden;

	> .demo-feed-inner{
		-webkit-transform: rotateZ(0deg);
		height: 100%;
		position: relative;
		white-space: nowrap;
		overflow-x: scroll;
		box-sizing: content-box;
	}
	
	.demo-feed-element{
		height: 100%;
	}
}

html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

