
section{
	position: relative;
	overflow: hidden;
	background-size: cover;
	background: #fff;
	tagline{
		font-size: 150%;
		text-align: center;
	}

	tagline[bottom]{
		position: absolute;
		bottom: 0%;
		width: 100%;
	}

	tagline[top]{
		position: absolute;
		top: 0;
		width: 100%;
	}

}

section[data-full-screen]{
	width: 100%;
}	

@media(min-width: $screen-md){
	
	section[data-full-screen]{
		height: 100%;
	}

	section[fixed]{
		position: fixed;
		left: 0px;
		top: 0px;
	}

}

section[fixed] + section{
	// not inteded but because of fucking apple cunts
	margin-top: -10px;
}

sub-sections{
	display: -webkit-flex;
	> sub-section{
		display: block;
		flex: 1;
	}
}
