.header{
	background-color: $semiTransparentWhite;
}


$headerHeight: 61px;
$headerLinkWidth: 86px;


.fixed-aspect-16-9{
  position: relative;
}

.fixed-aspect-16-9::after{
  content: ' ';
  display: block;
  padding-top: 56.25%;
}

.container{
	position: relative;
}

[full-height]{
	height: 100%;
}

.chrome{
	background: $semiTransparentWhite;
}

.background{
	position: absolute;
	width: 100%;
	height: 100%;
}

.main-nav{
	height: $headerHeight;

	> li{
		background: transparent;
		> a{
			padding: 0;
			background: transparent !important;
			color: $fontColor !important;
			height: $headerHeight - 1px;
			width: $headerLinkWidth;
			line-height: $headerHeight - 1px;
			font-size: $headerHeight/4;
			text-align: center;
		}
	}
	> li:hover{
		border-bottom:2px solid $highLightLink;
	}

	> li.active{
		border-bottom:2px solid $activeLink;
	}
}